<div class="border-end border-warning h-100">
  <img
    src="/images/pic2.jpg"
    alt="profile picture"
    class="img-fluid rounded-circle mt-5"
  />
  <h3 class="text-white mt-3 st-font">Firoz Mahmud</h3>
  <nav class="nav flex-column text-center">
    <a href="/" class="nav-link text-white">Home</a>
    <a href="/services" class="nav-link text-white">Services</a>
    <a href="/skill" class="nav-link text-white">Skill</a>
    <a href="/contact" class="nav-link text-white">Contact</a>
  </nav>
</div>
