form(action="/movies/new", method="post")
  input(type="hidden", id="id", name="id", value="")
  div
    label(for="title") Titel:
    input(type="text", id="title", name="title", value="")
  div
    label(for="year") Year:
    input(type="text", id="year", name="year", value="")
  div
    button(type="submit") Create New
